:root {
    --backgredant: linear-gradient(239deg, rgba(206, 93, 226, 0.5382528011204482) 6%, rgba(94, 157, 244, 0.5382528011204482) 79%, rgba(209, 168, 140, 0.5438550420168067) 100%);
}

header {
    background: rgb(206, 93, 226);
    background: var(--backgredant);
}

.rowFirst {
    padding-top: 7rem;
}

.rowSecond {
    padding-top: 5rem;
}
.rowTh{
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.row .col-md-4 .card {
    position: relative;
    z-index: 1;
    margin: 1rem;
    border-radius: .7em;
    box-shadow: 1px 2px 47px 2px rgba(255, 0, 0, 0.2);
    width: 18rem;
}
/* ######################################################### */
@media (max-width: 538px) and (min-width: 360px) {
    .row .col-md-4 .card {
        width: 25rem;
    }

}
/* ######################################################### */
@media (max-width: 757px) and (min-width: 538px) {
    .row .col-md-4 .card {
        width: 31rem;
    }

}
/* ############################################################ */

@media (max-width: 1000px) and (min-width: 757px) {
    .row .col-md-4 .card {
        width: 12rem;
    }

}